.card{
    height: 200px;
    width: 300px;
    float: left;
    margin: 10px;
    color: teal;
    font-size: 16px;
    background-color: seashell;
    box-shadow: 4px 4px 4px salmon;
}

.cardContent{
    color: midnightblue;
    font-size: 14px;
}

button{
    border: 1px solid blue;
}